:host {
  display: block;
  --title-width: 200px;
  --producers-width: 200px;
  --director-width: 120px;
  --release-date-width: 88px;
}

.films {
  display: flex;
  gap: var(--size-4);
  align-items: start;
}

.films__table {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  padding-bottom: var(--size-2);
  border-radius: var(--rounded-md);
}

.films__head {
  display: flex;
  gap: var(--size-4);
  padding: var(--size-3) var(--size-4);
  border-bottom: 1px solid var(--color-border);
}

.films__column {
  font-weight: 500;
}

.films__column_title {
  width: var(--title-width);
}
.films__column_producers {
  width: var(--producers-width);
}
.films__column_director {
  width: var(--director-width);
}
.films__column_release-date {
  width: var(--release-date-width);
}

.films__filters {
  /* for blocks to be on the same line, material inputs have top margin. */
  margin-top: -0.25em;
}
