<form [formGroup]="filtersForm" class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="e.g. Star Wars"
      type="text"
      formControlName="searchText"
      name="search"
    />
  </mat-form-field>
  <div class="filters__sort" formGroupName="sort">
    <mat-form-field appearance="outline">
      <mat-label>Sort field</mat-label>
      <mat-select formControlName="field">
        <mat-option *ngFor="let field of sortFileds" [value]="field.value">
          {{ field.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort order</mat-label>
      <mat-select formControlName="order">
        <mat-option *ngFor="let order of sortOrders" [value]="order.value">
          {{ order.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filters__buttons">
    <button
      class="filters__button"
      type="button"
      mat-stroked-button
      [disabled]="isFirstPage$ | async"
      (click)="onPrevPage()"
    >
      Prev
    </button>
    <button
      class="filters__button"
      type="button"
      mat-stroked-button
      [disabled]="isLastPage$ | async"
      (click)="onNextPage()"
    >
      Next
    </button>
  </div>
</form>
