@import "open-props/style";
@import "open-props/normalize";

:root {
  --color-primary: var(--violet-5);
  --color-on-primary: var(--gray-0);
  --color-error: var(--red-5);
  --color-error-dim: var(--red-0);
  --color-text: var(--gray-9);
  --color-text-dim: var(--gray-6);
  --color-link: var(--color-primary);
  --color-border: var(--gray-4);
  --color-semitransparent: rgba(0,0,0,.5);
  --color-background: var(--gray-0);

  --font-size-subtext: var(--font-size-0);
  --font-size-text: var(--font-size-1);
  --font-size-subtitle: var(--font-size-2);
  --font-size-title: var(--font-size-5);

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;

  --size-content-sm: var(--size-content-1);
  --size-content-md: var(--size-content-2);
  --size-content-lg: var(--size-content-3);
  --size-content-xl: 900px;

  --border-radius-xs: var(--size-1);
  --border-radius-sm: var(--size-2);
  --border-radius-md: var(--size-3);

  --border: 1px solid var(--color-border);

  --modal-width: 300px;

  --button-padding: var(--size-2) var(--size-3);
  --button-border-radius: var(--border-radius-xs);
  --button-color-bg: var(--color-primary);
  --button-color-text: var(--color-on-primary);

  --input-padding: var(--size-2) var(--size-3);
  --input-border-radius: var(--border-radius-xs);
  --input-color-bg: var(--gray-1);
  --input-color-text: var(--color-text);
  --input-border: var(--border);
  --input-color-bg-hover: var(--gray-2);
}

h1 {
  font-size: var(--font-size-title);
}

h2, h3, h4, h5, h6  {
  font-size: var(--font-size-subtitle);
}

a {
  color: var(--color-link);
}

html {
  font-size: 20px;
  color: var(--color-text);
}

input {
  border: var(--input-border);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  background-color: var(--input-color-bg);
  color: var(--input-color-text);
}

button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  background-color: var(--button-color-bg);
  color: var(--button-color-text);
  border: 1px solid var(--color-primary);
}

button.is-small {
  padding: var(--size-1) var(--size-3);
}

button.is-secondary {
  background-color: var(--input-color-bg);
  color: var(--input-color-text);
  border-color: var(--color-border);
}

button.is-danger {
  background-color: var(--color-error-dim);
  border-color: var(--color-error);
  color: var(--color-error);
}

button.is-danger:hover {
  background-color: var(--color-error);
  color: var(--color-on-primary);
}

select {
  box-sizing: content-box;
  border: var(--input-border);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  background-color: var(--input-color-bg);
  color: var(--input-color-text);
}


input:hover,
select:hover,
button.is-secondary:hover {
  background-color: var(--input-color-bg-hover);
}

input:disabled,
select:disabled,
button.is-secondary:disabled {
  background-color: var(--input-color-bg);
  border-color:var(--input-color-bg);
  color: var(--color-text-dim);
  cursor: default;
}
