.films {
  padding: 0 var(--size-4);
  margin: var(--size-4) auto 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.films__controls {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--size-4)
}

.films__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.film {
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--gray-3);
  padding: var(--size-2) var(--size-3);
}

.film__title {
  font-weight: 700;
}

.meta-info {
  display: flex;
  gap: var(--size-2);
}

.meta-info__label {
  color: var(--color-text-dim);
}

.sort {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-1);
}

.sort__select {
  /* height: var(--size-7); */
}

.pagination,
.pagination__pages {
  display: flex;
  flex-direction: row;
  gap: var(--size-1);
}

.pagination__page--current {
  background-color: transparent;
  color: var(--gray-6);
}
