.films {
  height: 100%;
  display: flex;
  --width: 320px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: var(--border);
  height: 100%;
  width: var(--width, 320px);
}

.list {
  padding: var(--size-2) var(--size-2) var(--size-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  overflow-y: auto;
  width: 100%;
  scrollbar-gutter: stable;
}