.film-card {
  padding: var(--size-2) var(--size-4);
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-md);
  width: 100%;
}

.film-card:hover {
  background: var(--color-foreground);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
}

.title,
.staff {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-weight: 600;
}

.date {
  font-size: var(--font-size-sm);
}