:host {
  display: block;
  --sidebar-min-with: 160px;
}

.film-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin-top: var(--size-12);
}

.film-form__header {
  display: flex;
  flex-direction: column;
}

.film-form__title-wrap {
  display: flex;
  align-items: start;
  gap: var(--size-6);
}

.film-form__title {
  max-width: 480px;
  width: 100%;
}

.film-form__options {
  margin-left: auto;
  display: flex;
  gap: var(--size-2);
}

.film-form__button {
  padding: 0;
  min-width: var(--size-9);
}

.film-form__button_delete {
  color: var(--color-text);
}

.film-form__button_delete:hover {
  color: var(--color-error);
}

.film-form__container {
  display: flex;
  gap: var(--size-12);
}

.film-form__sidebar {
  min-width: var(--sidebar-min-width, 160px);
  display: flex;
  flex-direction: column;
}

.film-form__content {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
}


.block {
  display: flex;
  flex-direction: column;
}

.block__title {
  font-size: var(--font-size-md);
  margin: 0;
}

.block__content_ids {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.block__chip {
  background: var(--color-foreground);
  padding: var(--size-1) var(--size-2) ;
  border-radius: var(--rounded-sm);
}
