.film-form {
  max-width: var(--size-content-xl);
  width: 100%;
  padding: var(--size-4);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.film-form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-2);
  flex-wrap: wrap;
}

.film-form__buttons {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
}

.film-form__label {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

@media screen and (max-width: 640px) {
  .film-form__header {
    flex-direction: column;
  }

  .film-form__buttons,
  .film-form__button {
    flex-grow: 1;
  }
}
