<header class="header">
  <div class="header__logo">sw films</div>
  <div class="header__group">
    <ng-container *ngIf="user$ | async as user; else unauthorized">
      <div class="header__profile profile">
        <img
          *ngIf="user.photoUrl"
          [src]="user.photoUrl"
          [alt]="user.name + ' avatar'"
          class="profile__avatar"
        />
        <div class="profile__username">{{ user.name }}</div>
      </div>
      <button
        mat-button
        class="header__button header__button--signout"
        (click)="onSignOut()"
      >
        Sign out
      </button>
    </ng-container>
    <ng-template #unauthorized>
      <a
        mat-button
        class="header__button header__button--signin"
        routerLink="/auth"
      >
        Sign in
      </a>
    </ng-template>
  </div>
</header>
