:host {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--size-4) var(--size-8);
}

.header__logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__group {
  display: flex;
  gap: var(--size-4);
  align-items: center;
}

.profile {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.profile__avatar {
  border-radius: 50%;
  height: var(--font-size-md);
}