<div class="auth">
  <h1 class="auth__title">{{ title }}</h1>
  <div class="auth__content">
    <div class="auth__socials">
      <button type="button" mat-stroked-button (click)="onSignInWithGoogle()">
        Continue with Google
      </button>
    </div>
    <!-- <mat-divider class="auth__divider"></mat-divider> -->
    <div class="auth__form">
      <ng-content></ng-content>
      <div class="auth__hint">
        <ng-content select="[hint]"></ng-content>
      </div>
    </div>
  </div>
</div>
