:root {
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;

  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 32px;
}