:host {
  display: block;
}

.film-line {
  display: flex;
  gap: var(--size-4);
  padding: var(--size-2) var(--size-4);
}

.film-line:hover {
  background: var(--color-foreground);
}

.film-line__field {
  flex-shrink: 0;
}

.film-line__field_title {
  width: var(--title-width);
  font-weight: 500;
}

.film-line__field_producers {
  width: var(--producers-width);
}

.film-line__field_director {
  width: var(--director-width);
}

.film-line__field_release-date {
  width: var(--release-date-width);
}
